nav.navbar.navbar-default
  .container
    .navbar-header
      button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/survey/list') 설문조사 목록
        li
          a(href='/survey/add') 설문조사 추가
        li
          a(href='/users') Users
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/users/signup') 회원가입
